.input {
  box-sizing: border-box;
  line-height: 25px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.label {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 9px;
}

.label-s {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 9px;
}

.inputWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.inputWrap::after {
  position: absolute;
  bottom: 10px;
  display: block;
  right: 10px;
  color: black;
  font-size: 16px;
}

.inputWrap.percent::after {
  content: '%';
}
.inputWrap.years::after {
  content: 'лет';
}
