.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #55fff875;
  font-size: 18px;
  line-height: 24px;
  font-family: sans-serif;
  padding: 10px;
  color: #4b545b;
}

.input {
  box-sizing: border-box;
  line-height: 25px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.label {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 9px;
}

.label-s {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 9px;
}

.inputWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.column {
  width: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.column + .column {
  margin-left: 40px;
}

.flex {
  display: flex;
  width: 100%;
}
.inputWrap::after {
  position: absolute;
  bottom: 10px;
  display: block;
  right: 10px;
  color: black;
  font-size: 16px;
}

.inputWrap.cost::after {
  content: '\20BD';
}

.inputWrap.percent::after {
  content: '%';
}
.inputWrap.years::after {
  content: 'лет';
}


.payment {
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 50px;
}

.total {
  font-weight: bold;
  color: #53b374;
  font-size: 17px;
  margin-bottom: 50px;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.overpayment {
  font-weight: bold;
  color: #b32427;
  font-size: 17px;
  margin-bottom: 50px;
}

.big {
  font-size: 23px;
}
